* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  background-color: #ffffff;
  line-height: 26px;
  color: #455a63;
}

.container {
  width: 1300px;
  margin: 0 auto;
  line-height: 26px;
}
.header-top {
  background-color: #f5f8fb;
  border-bottom: 1px solid #e0e9f0;
}
.header-bottom {
  border-bottom: 1px solid #e0e9f0;
}
.logo {
  font-size: 32px;
  font-weight: 600;
  color: #009688;
}
.first-lesson {
  color: #000000;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.clock-orange img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.clock-green img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.hand img {
  height: 374px;
}
p,
ul,
ol,
figure {
  margin: 0 0 16px 0;
}

* + p,
* + ul,
* + ol * + figure {
  margin-top: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
  color: #282b2f;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}
.tabs {
  display: flex;
  border-bottom: 2px solid #009688;
}
.active-tab,
.inactive-tab {
  width: 250px;
  height: 60px;
  padding: 22px 0;
  text-align: center;
  line-height: 18px;
}
.active-tab {
  background-color: #009688;
  color: #fefefe;
  margin-right: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.inactive-tab {
  color: #009688;
  border-top: 2px solid #009688;
  border-right: 2px solid #009688;
  border-left: 2px solid #009688;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.inactive-tab:hover {
  background-color: #8ddad1;
}
.inactive-tab:active {
  background-color: white;
}
.table-title,
.tabs-title {
  text-transform: uppercase;
  color: #282b2f;
  font-size: 22px;
  font-weight: 600;
  line-height: 38px;
}
.title-news {
  margin: 50px 0 40px 0;
}

time {
  font-size: 14px;
}
.clock {
  height: 300px;
  margin: 0;
}
