.list {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.list-numb-image {
  display: flex;
  align-items: center;
}
.list-numb-image::before {
  content: "";
  background-image: url("/images/phone.png");
  background-size: cover;
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.list-numb {
  padding-left: 30px;
}
.list-number {
  list-style-type: decimal;
  margin-left: 8px;
  margin-top: 26px;
  color: #282b2f;
}
.list-title {
  font-size: 20px;
  line-height: 28px;
  font-style: oblique;
  margin-bottom: 0px;
}

.list-desc-nav {
  color: #1976d2;
  font-size: 16px;
  line-height: 28px;
  text-decoration: underline;
  font-style: oblique;
}
.list-desc li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #546e7a;
  vertical-align: middle;
  margin-right: 12px;
}
.list-desc {
  margin-top: 26px;
}
