.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  color: #282b2f;
  font-size: 18px;
  padding-bottom: 14px;
  padding-top: 19px;
  font-weight: 600;
}

.nav .nav-item:hover {
  text-decoration: underline;
}

.nav .is-active {
}
